In [2]:
# Importando as bibliotecas

In [3]:
import requests as r
import pandas as pd
from datetime import datetime
import numpy as np
from pandasql import sqldf
import pyodbc as odc
from matplotlib import gridspec
from matplotlib import pyplot as plt
import plotly.express as px
import ipywidgets as widgets
from ipywidgets import fixed ,interact ,interactive

# Requisitando os dados na API

In [4]:
url = 'https://covid19-brazil-api.now.sh/api/report/v1'
df = r.request('GET',url)

# Convertendo o Json em um DataFrame

In [5]:
#Criando um DataFrame vazio.
df2 = pd.DataFrame()
i = 0
    
#Obetendo os dados da API
df = r.request('GET',url)
    
#Obtendo a data atual do sistema.
data_atual = datetime.today().strftime('%Y-%m-%d')

#Lendo linha a linha do dicionaro 'Data' vindo do arquivo Json.
#O dicionario e composto por chave e valor.

for i in range(len(df.json()['data'])):
        df1 = pd.DataFrame(df.json()['data'][i], index=[0])

        #Alterando o formato da data
        df1['datetime'] = pd.to_datetime(df1['datetime']).dt.strftime("%Y-%m-%d")

        #Adicionando os registros ao dataframe = df2
        df2 = df2.append(df1)

# Fazer Select no Banco para conferir valores repetidos.

In [6]:
def SelectBanco ():
    
    con_string = ('DRIVER={SQL Server};'
              'SERVER=DESKTOP-AF7BA3M;'
              'DATABASE=CovidDB;')

    cnxn = odc.connect(con_string)
    query = """SELECT * FROM Tb_Covid1"""
    
    #Passando o retorno da consulta para um dataframe = 'result'
    result = pd.read_sql(query, cnxn)
    
    return result

# Função para verificar a ultima data dos registros.

In [7]:
def IncrementoBanco (query,data_atual,df2):
    df0 = pd.DataFrame(query)
    if (df2['datetime'].max() != df0['datetime'].max()) :
            GravarNoBanco(df2)

# Insert - SQL

In [8]:
def GravarNoBanco(df):

        cnxn = odc.connect('DRIVER={SQL Server};'
                       'SERVER=DESKTOP-AF7BA3M;'
                        'DATABASE=CovidDB;')
        cursor = cnxn.cursor()

        for index , linha in df.iterrows():
            cursor.execute("insert into Tb_Covid1(uid, uf, state,cases,deaths,suspects,refuses,datetime) values (?,?,?,?,?,?,?,?)",linha.uid,linha.uf,linha.state,linha.cases,linha.deaths,linha.suspects,linha.refuses,linha.datetime)
            cursor.commit()

# Instancioando as funçoes.

In [9]:
# Query no banco de dados para verificar o registro com a maior data.
query = SelectBanco()

#Incrementando os dados no banco
IncrementoBanco(query,data_atual,df2)

# Consultando o banco para verificar os valores inseridos.

In [10]:
query = SelectBanco()
query.head(50)

,id,uid,uf,state,cases,deaths,suspects,refuses,datetime
0,1001,35,SP,São Paulo,5362377,167989,5334,596,2022-04-22
1,1002,31,MG,Minas Gerais,3352544,61216,925,104,2022-04-22
2,1003,41,PR,Paraná,2441061,43072,400,119,2022-04-22
3,1004,43,RS,Rio Grande do Sul,2319676,39250,416,330,2022-04-22
4,1005,33,RJ,Rio de Janeiro,2131863,73207,1254,148,2022-04-22
5,1006,42,SC,Santa Catarina,1696325,21738,346,47,2022-04-22
6,1007,29,BA,Bahia,1540547,29831,573,36,2022-04-22
7,1008,52,GO,Goiás,1320210,26411,353,55,2022-04-22
8,1009,23,CE,Ceará,1243770,26867,493,89,2022-04-22
9,1010,32,ES,Espírito Santo,1045921,14391,71,21,2022-04-22
10,1011,26,PE,Pernambuco,918045,21566,89,23,2022-04-22
11,1012,15,PA,Pará,762630,18215,43,23,2022-04-22
12,1013,51,MT,Mato Grosso,725849,14609,45,8,2022-04-22
13,1014,53,DF,Distrito Federal,695637,11638,327,107,2022-04-22
14,1015,25,PB,Paraíba,601296,10201,85,11,2022-04-22
15,1016,13,AM,Amazonas,581934,14169,18,26,2022-04-22
16,1017,50,MS,Mato Grosso do Sul,528289,10521,93,26,2022-04-22
17,1018,24,RN,Rio Grande do Norte,502618,8168,108,22,2022-04-22
18,1019,21,MA,Maranhão,430626,10879,125,13,2022-04-22
19,1020,11,RO,Rondônia,400317,7197,61,2,2022-04-22
20,1021,22,PI,Piauí,368022,7735,12,2,2022-04-22
21,1022,28,SE,Sergipe,326989,6342,15,11,2022-04-22
22,1023,17,TO,Tocantins,304206,4149,13,0,2022-04-22
23,1024,27,AL,Alagoas,297546,6921,43,22,2022-04-22
24,1025,16,AP,Amapá,160375,2130,15,0,2022-04-22
25,1026,14,RR,Roraima,155391,2147,9,0,2022-04-22
26,1027,12,AC,Acre,124633,1998,12,0,2022-04-22
27,1028,35,SP,São Paulo,5362856,168000,5334,596,2022-04-23
28,1029,31,MG,Minas Gerais,3352682,61216,925,104,2022-04-23
29,1030,41,PR,Paraná,2442595,43075,400,119,2022-04-23
30,1031,43,RS,Rio Grande do Sul,2321888,39254,416,330,2022-04-23
31,1032,33,RJ,Rio de Janeiro,2131863,73207,1254,148,2022-04-23
32,1033,42,SC,Santa Catarina,1697243,21741,346,47,2022-04-23
33,1034,29,BA,Bahia,1541055,29834,573,36,2022-04-23
34,1035,52,GO,Goiás,1320492,26415,353,55,2022-04-23
35,1036,23,CE,Ceará,1243867,26876,493,89,2022-04-23
36,1037,32,ES,Espírito Santo,1045767,14391,71,21,2022-04-23
37,1038,26,PE,Pernambuco,918045,21566,89,23,2022-04-23
38,1039,15,PA,Pará,762883,18227,43,23,2022-04-23
39,1040,51,MT,Mato Grosso,725849,14609,45,8,2022-04-23
40,1041,53,DF,Distrito Federal,695637,11638,327,107,2022-04-23
41,1042,25,PB,Paraíba,601340,10202,85,11,2022-04-23
42,1043,13,AM,Amazonas,581958,14169,18,26,2022-04-23
43,1044,50,MS,Mato Grosso do Sul,528334,10521,93,26,2022-04-23
44,1045,24,RN,Rio Grande do Norte,502618,8169,108,22,2022-04-23
45,1046,21,MA,Maranhão,430774,10879,125,13,2022-04-23
46,1047,11,RO,Rondônia,400646,7199,61,2,2022-04-23
47,1048,22,PI,Piauí,368022,7735,12,2,2022-04-23
48,1049,28,SE,Sergipe,327005,6342,15,11,2022-04-23
49,1050,17,TO,Tocantins,304206,4149,13,0,2022-04-23

# Grafico de casos

In [11]:
#Recebendo os dados do banco.
dfG = SelectBanco()

#Crindo o estilo da descrição dos filtros.
style ={'desciption_width' :'initial'}

#Criando o filtro.
Filtro_Date = widgets.SelectionSlider(
        options = dfG['datetime'].sort_values().unique().tolist(),
        value   =   '2022-04-22',
        description='Data',
        disabled=False,
        continuous_update=False,
        orientation='horizontal',
        readout=True)

def plot_Grafico(data,Filtro ):

    df1 = data[data['datetime'] == Filtro].copy()
    plt.figure(figsize=(21,12))
    plt.bar(df1['uf'],df1['cases'])
    plt.xlabel('UF')
    plt.ylabel('Quantidade') 
    plt.title('Quantidade de casos por Dia/UF')
    plt.xticks(rotation=60);

In [12]:
widgets.interactive( plot_Grafico, data = fixed(dfG), Filtro=Filtro_Date )

interactive(children=(SelectionSlider(continuous_update=False, description='Data', options=('2022-04-22', '202…

In [13]:
#dfG[['cases','uf','datetime']].groupby('cases').sum().reset_index()